<div class="navbar">
<div class="badge">
    <a href="#"><img class="logo" src="/assets/FPlogo.png" alt="logo"> </a>
</div>
<div class="pages">
    <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="#">About Us</a>  </li>
        <li><a href="/testimonials">Testimonials</a> </li>
        <li><a href="/contact">Contact Us</a>  </li>
        <li><a href="#">Support</a> </li>
        <li><a href="/login">Login</a> </li>
        <li>
            <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Language
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Turkish</a></li>
              <li><a class="dropdown-item" href="#">English</a></li>
            </ul>
            </div>
        </li>
         
    </ul>
</div>
</div>
<div class="container">
    <div class="mainContact">
        <div class="contact-form">
            <form action="POST">
                <label for="">First Name</label> <br>
                <input type="text"><br>
                <label for="">Phone</label> <br>
                <input type="tel"><br>
                <label for="">Company</label> <br>
                <input type="text"><br>
            </form>
        </div>
        <div class="contact-form">
            <form action="POST"></form>
                <label for="">Last Name</label> <br>
                <input type="text"><br>
                <label for="">Email</label> <br>
                <input type="email"><br>
                <label for="">Industry</label> <br>
                <input type="text"><br>
        </div>
        <div class="contactInfo">
            <div class="adress">Değirmen Yolu Cad. No:28 Asia Ofispark A Blok Kat:1 34752 Ataşehir - İstanbul Türkiye</div>
            <div>+(90) 216 571 49 00</div>
               <div> +(90) 216 410 42 70</div>
            <div>info@aksoygroup.com</div>
            <div class="">Mersis No: 0871005355000015</div>
        </div>
    </div>

</div>