<div class="navbar">
<div class="badge">
    <a href="/"><img class="logo" src="/assets/FPlogo.png" alt="logo"> </a>
</div>
<div class="pages">
    <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="#">About Us</a>  </li>
        <li><a href="/testimonials">Testimonials</a> </li>
             <li><a href="/contact">Contact Us</a>  </li>
        <li><a href="#">Support</a> </li>
        <li><a href="/login">Login</a> </li>
        <li>
            <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Language
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Turkish</a></li>
              <li><a class="dropdown-item" href="#">English</a></li>
            </ul>
            </div>
        </li>
         
    </ul>
</div>
</div>
<div class="main">
    <div class="left ">
        <h3>GET RID OF FAKES, BE SAFE</h3>
        <p class="">No more counterfeits, No more trust issues with customers With Feyk Product, increasing profit while protecting your brand is possible</p>
        <button class="findBtn btn btn-success">Find Your Solution</button>
    </div>
    <div class="right">
        <img class="horse" src="/assets/horsebg.png" alt="">

    </div>


</div>
