
<div class="mainLogin">
<div class="leftLogin"></div>
<div class="rightLogin">
    <img src="/assets/loginBG.png" alt="">
</div>

</div>
<div class="loginForm">
    <img class="logo" src="/assets/FPlogo.png" alt="logo">
    <form method="post">
        <div class="txt_field">
            <label for="">Email </label><br>
            <input class="inputs" type="email" required>

           
        
        </div>
        <div class="txt_field">
            <label for="">Password</label><br>
            <input class="inputs" type="password" required>

           
        </div>
        <div class="pass">Forgot Possword?</div>
        <input type="submit" value="Login">
        <div class="signup_link">
            Not a member? <a href="">Sign Up</a>
        </div>
        <div class="homePage">
            Go back to <a href="/">Main Page</a>
        </div>
    </form>
</div>