<div class="navbar">
<div class="badge">
    <a href="#"><img class="logo" src="/assets/FPlogo.png" alt="logo"> </a>
</div>
<div class="pages">
    <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="#">About Us</a>  </li>
        <li><a href="/testimonials">Testimonials</a> </li>
        <li><a href="/contact">Contact Us</a>  </li>
        <li><a href="#">Support</a> </li>
        <li><a href="/login">Login</a> </li>
        <li>
            <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Language
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Turkish</a></li>
              <li><a class="dropdown-item" href="#">English</a></li>
            </ul>
            </div>
        </li>
         
    </ul>
</div>
</div>
<div class="container" >
    <div  class="mainTestimonials" style="border-radius: 20px;">
    
        <div class="testimonialCard">
            <div class="descriptionTestimonials">
                “With the help of FEYK Product, we are no longer to think about counterfeits” 
            </div>
            <div class="companyInfo">Company Name</div>
            <div class="companyRating">
                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
              </div>
        </div>
        <div class="testimonialCard">
            <div class="descriptionTestimonials">
                “After overcoming counterfeit issues, our relationships with customers are strengthen” 
            </div>
            <div class="companyInfo">Company Name</div>
            <div class="companyRating">
                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
            </div>
        </div>
        <div class="testimonialCard">
            <div class="descriptionTestimonials">
                “No more fakes, thanks to FEYK Product, now we do not need to worry about our brand image”
            </div>
            <div class="deneme">
            <div class="companyInfo">Company Name</div>
            <div class="companyRating">
                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
            </div>
        </div>
        </div>
        <div class="testimonialCard">
            <div class="descriptionTestimonials">
                “After cooperating with FEYK Product, we increased our profits. We hope our delightful partnership lasts forever”
            </div>
            <div class="companyInfo">Company Name</div>
            <div class="companyRating"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
        </div>

    </div>
</div>